@model PMS.Features.Document.ViewModels.ProjectDocumentVm

<div class="content-wrapper" style="min-height: 948px;">
	<section class="content-header d-flex align-items-center justify-content-between">
		<h1 class="m-0">
			Upload Document for Project
			<small>Project Document Detail</small>
		</h1>
		<a class="btn btn-success" onclick="fn_EmployeeList()">
			<i class="fa fa-list"></i> Document List
		</a>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Upload Document</h3>
					</div>

					<form role="form" data-ajax="true" data-ajax-begin="fn_OnBegin" data-ajax-success="fn_OnSuccess"
						  asp-action="UploadDocument" asp-controller="Document" enctype="multipart/form-data">
						<div class="box-body" style="height:900px !important">
							<div class="row">
								<div class="form-group col-md-6">
									<input type="hidden" asp-for="Id"/>
									<label class=" pull-left" asp-for="DocumentName">Document Name</label>
									<input class="form-control" asp-for="DocumentName" placeholder="Please enter Document name!">
									<span asp-validation-for="DocumentName" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="UploadDocument">Upload Document</label>
									<input type="file" class="form-control" asp-for="UploadDocument" placeholder="Please upload document">
									<span asp-validation-for="UploadDocument" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="DocumentDetail">Information regarding the Document</label>
									<textarea class="form-control"  asp-for="DocumentDetail" placeholder="Please enter end date"></textarea>
									<span asp-validation-for="DocumentDetail" class="text-danger"></span>
								</div>
								
							</div>

							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("~/Features/shared/PmsModalPopUp.cshtml");	
	</section>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

<script>
	function fn_EmployeeList() {
	
		$.get('/features/Document/GetDocumentDetail', function(resp){
			$("#divData").html(resp);
			$("#pmModalPopUp").modal('show');
			$("#pmModalPopUpTitle").html("<i class='fa fa-list'></i> Upload Documents");
		});
	}
	function fn_CloseModal() {
		$("#pmModalPopUp").modal('hide');
	}
	function fn_OnBegin(){
	}

	function fn_OnSuccess(resp){
		toastr.success("Saved successfully!");
	}

		$(document).ready(function () {
		// Initialize CKEditor
		if (document.getElementById('editor1')) {
			CKEDITOR.replace('editor1', {
				height: 150,
				toolbar: 'Full'
			});

			CKEDITOR.replace('editor2', {
				height: 150,
				toolbar: 'Full'
			});
		}

		// Update CKEditor content before form submit (AJAX forms)
		$('form[data-ajax="true"]').on('submit', function () {
			for (var instance in CKEDITOR.instances) {
				CKEDITOR.instances[instance].updateElement();
			}
		});

		// Initialize Select2
		$('.select2').select2({
			placeholder: "Please enter project manager",
			allowClear: true
		});
	});
</script>




