<div class="content-wrapper" style="min-height: 948px;">
	<section class="content-header d-flex align-items-center justify-content-between">
		<h1 class="m-0">
			Role Menu Mapping
			<small>Menu- Role Mapping</small>
		</h1>
		<a class="btn btn-success" onclick="fn_UserList()">
			<i class="fa fa-list"></i> User List
		</a>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Role Menu Mapping</h3>
					</div>

					<form role="form" data-ajax="true" data-ajax-begin="fn_OnBegin" data-ajax-success="fn_OnSuccess"
						  asp-action="CreateUser" asp-controller="UserManagement">
						<div class="box-body" style="height:900px !important">
							<div class="row">
								<div class="form-group col-md-6">
									<label class=" pull-left" >Select Role</label>
									<select class="form-control select2" id="ddlRoleId" onchange="fn_GetMappedMenu(this)" asp-items="ViewBag.Role"  placeholder="Please enter role description">
										<option value="">--Select--</option>
									</select>
								</div>
							
								<div class="col-md-12">
									<div id="divMappedRole"></div>
								</div>
							</div>

							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("~/Features/shared/PmsModalPopUp.cshtml")
	</section>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

	function fn_GetMappedMenu(eData){
		$.get('/features/UserManagement/GetMappedRoleMenu',{roleId:eData.value} ,function(resp){
			$("#divMappedRole").html(resp);
		});
	}

	function fn_ChangeRoleMenumapping(eData, eval){
		debugger;
		var data= $("#ddlRoleId").val();
		$.get('/features/UserManagement/RolemenuMappingAdd',{roleId:data, menuId: eData, isChecked: eval.checked} ,function(resp){
			$.get('/features/UserManagement/GetMappedRoleMenu',{roleId:data} ,function(resp){
			$("#divMappedRole").html(resp);
		});
		});
	}
	function fn_CloseModal() {
		$("#pmModalPopUp").modal('hide');
	}
	function fn_OnBegin(){
	}

	function fn_OnSuccess(resp){
		toastr.success("Saved successfully!");
	}

		$(document).ready(function () {
		// Initialize Select2 dropdown
		$('.select2').select2({
			placeholder: "Please enter project manager",
			allowClear: true
		});
	});
</script>




