@model PMS.Domains.ProjectTask

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

<div class="content-wrapper" style="min-height: 948px;">
	<section class="content-header d-flex align-items-center justify-content-between">
		<h1 class="m-0">
			Create Project Task
			<small>Project Task Information</small>
		</h1>
		<a class="btn btn-success" onclick="fn_ProjectTask()">
			<i class="fa fa-list"></i> Project Task List
		</a>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Create Project Task</h3>
					</div>

					<form role="form" data-ajax="true" data-ajax-begin="fn_OnBegin" data-ajax-success="fn_OnSuccess"
						  asp-action="CreateProjectTask" asp-controller="ProjectTask">
						<div class="box-body" style="height:900px !important">
							<div class="row">
								<div class="form-group col-md-6">
									<input type="hidden" asp-for="Id" />
									<label class=" pull-left" asp-for="TaskName">Task Name</label>
									<input class="form-control" asp-for="TaskName" placeholder="Please enter Task Name!">
									<span asp-validation-for="TaskName" class="text-danger"></span>
								</div>

								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="ModuleName">Module Name</label>
									<input class="form-control" asp-for="ModuleName" placeholder="Please enter Module Name">
									<span asp-validation-for="ModuleName" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="EmployeeId">Assign Employee</label>
									<select class="form-control select2" asp-items=" ViewBag.ProjectEmployee" asp-for="EmployeeId" placeholder="Please assign Employee">
										<option value="">--Select--</option>
									</select>
									<span asp-validation-for="EmployeeId" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="TaskPriority">Task Priority</label>
									<select class="form-control" asp-for="TaskPriority" placeholder="Please enter project start date">
										<option value="">--select---</option>
										<option value="Critical">Critical</option>
										<option value="High">High</option>
										<option value="Medium">Medium</option>
										<option value="Low">Low</option>
									</select>
									<span asp-validation-for="TaskPriority" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="TaskType">Task Type</label>
									<select class="form-control" asp-for="TaskType" placeholder="Please enter project start date">
										<option value="">--select---</option>
										<option value="Epic">Epic</option>
										<option value="Bug">Bug</option>
										<option value="Development">Development</option>
									</select>
									<span asp-validation-for="TaskType" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="DueDate">Due Date</label>
									<input class="form-control"  asp-for="DueDate" placeholder="Please enter project version control">
									<span asp-validation-for="DueDate" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="TaskStatus">Task Status</label>
									<select class="form-control" asp-for="TaskStatus" placeholder="Please enter project start date">
										<option value="">--select---</option>
										<option value="NotStarted">NotStarted</option>
										<option value="InProgress">InProgress</option>
										<option value="OnHold">On Hold</option>
										<option value="DevelopmentDone">Development Done</option>
										<option value="MovedToQA">MovedToQA</option>
									</select>
									<span asp-validation-for="TaskStatus" class="text-danger"></span>
								</div>

								<div class="form-group col-md-12">
									<label class=" pull-left" asp-for="TaskDetail">Task Detail</label>
									<br/>
									<textarea class="form-control" id="editor1" asp-for="TaskDetail" placeholder="Please enter project version control"></textarea>
									<span asp-validation-for="TaskDetail" class="text-danger"></span>
								</div>

							<button type="submit" class="btn btn-primary pull-right">Submit</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("~/Features/shared/PmsModalPopUp.cshtml")
	</section>
</div>


<script>
	// Show employee list in modal
	function fn_ProjectTask() {
		$.get('/features/ProjectTask/GetProjectTask', function (resp) {
			$("#divData").html(resp);
			$("#pmModalPopUp").modal('show');
			$("#pmModalPopUpTitle").html("<i class='fa fa-list'></i> Project Task List");
		});
	}

	// Close the modal
	function fn_CloseModal() {
		$("#pmModalPopUp").modal('hide');
	}

	function fn_OnBegin() {
		// Optional: show loader or disable button
	}

	function fn_OnSuccess(resp) {
		toastr.success("Saved successfully!");
	}

	// Document ready
	$(document).ready(function () {
		// Initialize CKEditor
		if (document.getElementById('editor1')) {
			CKEDITOR.replace('editor1', {
				height: 200,
				toolbar: 'Full'
			});
		}

		// Update CKEditor content before form submit (AJAX forms)
		$('form[data-ajax="true"]').on('submit', function () {
			for (var instance in CKEDITOR.instances) {
				CKEDITOR.instances[instance].updateElement();
			}
		});

		// Initialize Select2
		$('.select2').select2({
			placeholder: "Please enter project manager",
			allowClear: true
		});
	});
</script>





