<div class="modal fade" id="pmModalPopUp" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-left" style="width:95% !important">
		<div class="modal-content shadow-lg border-0 rounded-3">
			<!-- Header -->
			<div class="modal-header bg-primary text-white" style="position:relative;">
				<h4 class="modal-title text-center" style="text-align:left; font-weight:bold" id="pmModalPopUpTitle">Share Drive</h4>
				<button type="button" data-bs-dismiss="modal" aria-label="Close" onclick="fn_CloseModal()"
						style="position:absolute;
										  top:10px;
										  right:10px;
										  width:30px;
										  height:30px;
										  border-radius:50%;
										  background-color:white;
										  color:black;
										  font-size:20px;
										  font-weight:bold;
										  border:none;
										  cursor:pointer;">
					×
				</button>
			</div>

			<!-- Body -->
			<div class="modal-body text-center" id="divData">
			</div>

			<!-- Footer -->
			<div class="modal-footer">
				<button type="btn btn-danger" onclick="fn_CloseModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>