@{
	ViewData["Title"] = "Home Page";
}

@using PMS.Features.UserManagement.Services

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
	var projectName = HttpContextAccessor.HttpContext?.Session.GetString("selectedProjectName");
	var empDetail = HttpContextAccessor.HttpContext?.Session.GetObject<PMS.Domains.Employee>("employee");
}

<style>
	#selectUser {
		min-width: 200px;
		padding: 6px 12px;
		font-size: 14px;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		transition: border-color 0.3s ease, box-shadow 0.3s ease;
	}

		#selectUser:focus {
			border-color: #f39c12; /* matching the warning theme */
			box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
			outline: none;
		}

	.box-tools .form-group {
		margin-bottom: 0;
	}
</style>

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			@projectName Dashboard
			<small>Dashboard</small>
		</h1>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">In progress Projects</span>
						<span class="info-box-file">20<small></small></span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div><!-- /.col -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Completed Projects</span>
						<span class="info-box-number">100</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div><!-- /.col -->
			<!-- fix for small devices only -->
			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">On Hold Projects</span>
						<span class="info-box-number">0</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div><!-- /.col -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Porject Task</span>
						<span class="info-box-number">2,000</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class='row'>
			<div class='col-md-5'>
				<div id="pmsDirectChat"></div>
			</div>

			<div id="divUserList"></div>
		</div><!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<!-- TABLE: LATEST ORDERS -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Vacation Calendar</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							@await Html.PartialAsync("~/Features/Vacation/Views/VacationCalendar.cshtml")
						</div><!-- /.table-responsive -->
					</div><!-- /.box-body -->
					<div class="box-footer clearfix">
						<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
						<a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
					</div><!-- /.box-footer -->
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->

	</section><!-- /.content -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
	$(document).ready(function(){
		$.get('/Dashboard/GetMappedEmployee', function(resp){
			$("#divUserList").html(resp)
		})
	})

	$(document).ready(function(){
		$.get('/Dashboard/DirectChat', function(resp){
			$("#pmsDirectChat").html(resp)
		})
	})
</script>