@model IEnumerable<PMS.Features.Dashboard.ViewModels.TaskStatusHistoryVm>

<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-body">
				<table id="documentTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Status Name</th>
							<th>Status Change By</th>
							<th>Status Change Date</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.TaskStatus</td>
								<td>@item.EmpName</td>
								<td>@item.UpdatedDate</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#documentTable').DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true
		});
	});

</script>





