@model PMS.Domains.DepartmentMaster

<div class="content-wrapper" style="min-height: 948px;">
	<section class="content-header d-flex align-items-center justify-content-between">
		<h1 class="m-0">
			Create Department Informaion
			<small>Department Master</small>
		</h1>
		<a class="btn btn-success" onclick="fn_Department()">
			<i class="fa fa-list"></i> Department List
		</a>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Create Department</h3>
					</div>

					<form role="form" data-ajax="true" data-ajax-begin="fn_OnBegin" data-ajax-success="fn_OnSuccess" asp-action="UpsertDepartment" asp-controller="Master">
						<div class="box-body" style="height:500px !important">
							<div class="row">
								<div class="form-group col-md-6">
									<input type="hidden" asp-for="Id"/>
									<label class=" pull-left" asp-for="Name">Department Name</label>
									<input class="form-control" asp-for="Name" placeholder="Please enter role name!">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
								<div class="form-group col-md-6">
									<label class=" pull-left" asp-for="Description">Description</label>
									<input class="form-control" asp-for="Description" placeholder="Please enter role description">
									<span asp-validation-for="Description" class="text-danger"></span>
								</div>
							</div>

							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("~/Features/shared/PmsModalPopUp.cshtml");
	</section>
</div>


<script>
	function fn_Department() {
		$("#pmModalPopUp").modal('show');
			$("#pmModalPopUpTitle").html("<i class='fa fa-list'></i> Department List");
		$.get('/features/Master/DepartmentList', function(resp){
			$("#divData").html(resp);
		});
	}
	function fn_CloseModal() {
		$("#pmModalPopUp").modal('hide');
	}
	function fn_OnBegin(){
	}

	function fn_OnSuccess(resp){
		toastr.success("Saved successfully!");
	}
</script>




